body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@font-face {
  font-family: 'JakobCTT';
  src: local('JakobCTT'), url('./assets/fonts/Jakob/JakobCTT.ttf') format('ttf'),
  url('./assets/fonts/Jakob/JakobCTT.woff2') format('woff2'),
  url('./assets/fonts/Jakob/JakobCTT.woff') format('woff'),
  url('./assets/fonts/Jakob/JakobCTT.otf') format('otf'),
  url('./assets/fonts/Jakob/JakobCTT.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf'),
  url('./assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('./assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('./assets/fonts/Montserrat/Montserrat-Bold.eot') format('eot'),
  url('./assets/fonts/Montserrat/Montserrat-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), url('./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('ttf'),
  url('./assets/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
  url('./assets/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url('./assets/fonts/Montserrat/Montserrat-ExtraLight.eot') format('eot'),
  url('./assets/fonts/Montserrat/Montserrat-ExtraLight.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('assets/fonts/Montserrat/Montserrat-Medium.eot') format('eot'),
  url('assets/fonts/Montserrat/Montserrat-Medium.otf') format('otf');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf'),
  url('assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('assets/fonts/Montserrat/Montserrat-Regular.eot') format('eot'),
  url('assets/fonts/Montserrat/Montserrat-Regular.eot') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansCondensed';

  src: local('☺'), url('assets/fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.ttf') format('ttf'),
  url('./assets/fonts/OpenSansCondensed/Bold/OpenSansCondensed-Bold.woff2') format('woff2');

  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSansCondensed';

  src: local('☺'), url('assets/fonts/OpenSansCondensed/Bold/OpenSansCondensed-Light.ttf') format('ttf'),
  url('./assets/fonts/OpenSansCondensed/Bold/OpenSansCondensed-Light.woff2') format('woff2');

  font-weight: lighter;
  font-style: normal;
}